.main-1 {
  padding-top: 40vh;
  padding-bottom: 40vh;
}

.main-3 {
  padding-top: 35vh;
  padding-bottom: 35vh;
}

.main-1 {
  background-image: url(../assets/images/bg/bg_main_1.jpg);
}

.main-3,
.about_azuko {
  background-image: url(../assets/images/bg/bg_main_3.jpg);
}

.main-2 {
  background-color: var(--dark-gray-azuko-rgb);
}

.main-2-row {
  padding-top: 35vh;
  padding-bottom: 35vh;
}

#projects {
  background-image: url(../assets/images/bg/bg_projects.jpg);
}

.products {
  background-image: url(../assets/images/bg/bg_products.jpg);
}

.album_1 {
  background-image: url(../assets/images/bg/albums/FUNNY\ but\ NOBODY.jpg);
}

.album_2 {
  background-image: url(../assets/images/bg/albums/with\ love\ from\ Azuko.jpg);
}

.album_3 {
  background-image: url(../assets/images/bg/albums/ВРЕМЯ\ ПЕРЕМЕН.jpg);
}

.album_4 {
  background-image: url(../assets/images/bg/albums/Highway\ Of\ Love\ \(Deluxe\).jpg);
}

.album_5 {
  background-image: url(../assets/images/bg/albums/Highway\ Of\ Love.jpg);
}

.album_6 {
  background-image: url(../assets/images/bg/albums/Mileran\ Vibes.jpg);
}

.album_7 {
  background-image: url(../assets/images/bg/albums/Life\ Is\ Full\ Of\ Lies\ 2\ \(Before\ Love\ Story\).jpg);
}

.album_8 {
  background-image: url(../assets/images/bg/albums/Life\ Is\ Full\ Of\ Lies.jpg);
}

.bg_1 {
  background-image: url(../assets/images/projects/albums/bg_carousel/1.jpg);
}

.bg_2 {
  background-image: url(../assets/images/projects/albums/bg_carousel/2.jpg);
}

.bg_3 {
  background-image: url(../assets/images/projects/albums/bg_carousel/3.jpg);
}

.bg_4 {
  background-image: url(../assets/images/projects/albums/bg_carousel/4.jpg);
}

.bg_5 {
  background-image: url(../assets/images/projects/albums/bg_carousel/5.jpg);
}

.bg_6 {
  background-image: url(../assets/images/projects/albums/bg_carousel/6.jpg);
}

.bg_7 {
  background-image: url(../assets/images/projects/albums/bg_carousel/7.jpg);
}

.bg_8 {
  background-image: url(../assets/images/projects/albums/bg_carousel/8.jpg);
}

#bg_singles_featurings_video,
#bg_video_extras {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

#bg_singles_featurings_video {
  filter: hue-rotate(25deg);
}

#bg_video_extras {
  filter: brightness(.7);
}

#playlist {
  background-image: url(../assets/images/bg/bg_playlist.jpg);
}